:root {
	// Fedora-Fr
	--fedorafr-black: #000;
	--fedorafr-white: #fff;
	--fedorafr-white2: #d1d5db;
  --fedorafr-grey: #9e9e9e;
  --fedorafr-footer-bg: #e5e7eb;
  --fedorafr-footer-color: var(--fedorafr-black);
	--fedorafr-code-bg: #fdf6e3;
	--fedorafr-code-color: #657b83;
	--fedorafr-font-family: "Open Sans", sans-serif;

	// Fedora colors
	--fedorafr-dark-fedora-blue: #294172;
	--fedorafr-fedora-blue: #3c6eb4;
	--fedorafr-new-fedora-blue: #51a2d9;
	--fedorafr-freedom-purple: #a07cbc;
	--fedorafr-friends-magenta: #db3279;
	--fedorafr-features-orange: #e59728;
	--fedorafr-first-green: #79db32;

	// Day
  --text-color: var(--fedorafr-black);
  --link-color: var(--fedorafr-new-fedora-blue);
  --primary-color: var(--fedorafr-new-fedora-blue);
  --background-color-base: var(--fedorafr-white);
}

@media screen {
	html.skin-theme-clientpref-night {
  	--background-color-base: #111827;
		--text-color: var(--fedorafr-white2);
		--fedorafr-code-bg: #282c34;
		--fedorafr-code-color: var(--fedorafr-white2);
		--fedorafr-footer-bg: #1f2937;
		--fedorafr-footer-color: var(--fedorafr-white2);
	}
}
@media screen and (prefers-color-scheme: dark) {
	html.skin-theme-clientpref-os {
  	--background-color-base: #111827;
		--text-color: var(--fedorafr-white2);
		--fedorafr-code-bg: #282c34;
		--fedorafr-code-color: var(--fedorafr-white2);
		--fedorafr-footer-bg: #1f2937;
		--fedorafr-footer-color: var(--fedorafr-white2);
	}
}

