body {
  --text-color: #212529;
  --link-color: #007bff;
  --primary-color: #51a2d9;
  --background-color: #fff;

	--fedorafr-light-blue: #e4eff6;
	--fedorafr-light-blue2: #03a9f4;
  --fedorafr-red: #f44336;
  --fedorafr-green: #4caf50;
  --fedorafr-grey: #9e9e9e;
	--fedorafr-white: #fff;

	--fedorafr-warning-bg: #FFCFCF;
	--fedorafr-warning-color: #535068;
	--fedorafr-code-bg: #fdf6e3;
	--fedorafr-code-color: #657b83;

  // Footer
  --fedorafr-footer-bg: #343a40;
  --fedorafr-footer-color1: #999;
  --fedorafr-footer-color2: #fff;
}
