{{!
    @typedef object footerItem
    @prop string id of list item element
    @prop string html of list item
    @prop footerItem[] items

    @typedef object footerRow
    @prop string className of list element
    @prop string id of list element
    @prop footerItem[] array-items

    string|null html-user-language-attributes a string of attribute HTML
    footerRow data-info the info row
    footerRow data-places the places row
    footerRow data-icons the icons row
}}
{{! `role` is unnecessary but kept to support selectors in any gadgets or user styles and
    to mitigate a VoiceOver bug. }}
<div id="footer" class="mw-page-container mw-footer" role="contentinfo" {{{html-user-language-attributes}}}>
    {{#data-info}}{{>Footer__row}}{{/data-info}}
</div>

<footer id="fedorafrFooter">
    <div class="mw-page-container">
        <dl>
            <dt>Fedora-Fr</dt>
            <dd><a href="https://www.fedora-fr.org/a-propos-de-fedora-fr" title="À propos du site Fedora-Fr.org">À propos de Fedora-Fr</a></dd>
            <dd><a href="http://www.fedora-fr.org/historique" title="Historique des différentes équipes et versions de Fedora-Fr">Historique</a></dd>
            <dd><a href="https://www.fedora-fr.org/politique-de-confidentialite" title="Politique de confidentialité de Fedora-Fr">Politique de confidentialité</a></dd>
            <dd><a href="https://stats.fedora-fr.org" title="Statistiques de fréquentation de Fedora-Fr">Statistiques</a></dd>
        </dl>
        <dl>
            <dt>Télécharger</dt>
            <dd><a href="https://doc.fedora-fr.org/wiki/T%C3%A9l%C3%A9charger_Fedora" title="Obtenir les CDs/DVDs de Fedora">Obtenir Fedora</a></dd>
            <dd><a href="https://getfedora.org/fr/" title="Toutes les méthodes de téléchargement de Fedora">Toutes les méthodes de téléchargement</a></dd>
        </dl>
        <dl>
            <dt>Support</dt>
            <dd><a href="https://www.fedora-fr.org/conditions-d-utilisation/" title="Conditions d’utilisation">Conditions d'Utilisation</a></dd>
            <dd><a href="https://doc.fedora-fr.org" title="Wiki de Fedora-Fr">Documentation</a></dd>
            <dd><a href="https://www.fedora-fr.org/messagerie-instantanee" title="Support et communauté via messagerie instantanée">Messagerie instantanée</a></dd>
        </dl>
        <dl class="last">
            <dt>Réseaux sociaux</dt>
            <dd><a title="Fedora-Fr sur Mastodon" class="fab fa-mastodon" href="https://framapiaf.org/@fedora_fr"><span>Fedora-Fr sur Mastodon</span></a></dd>
            <dd><a title="Fan page Facebook de Fedora-Fr" class="fab fa-facebook-square" href="https://www.facebook.com/fedorafr"><span>Fan page Facebook</span></a></dd>
            <dd><a title="Fedora-Fr sur Bluesky" class="fab fa-square-bluesky" href="https://bsky.app/profile/fedora-fr.org"><span>Fedora-Fr sur Bluesky</span></a></dd>
            <dd><a title="Flux RSS des actualités de Fedora-Fr" class="fas fa-rss-square" href="https://www.fedora-fr.org/flux-rss-de-fedora-fr/"><span>Flux RSS des actualités de Fedora-Fr</span></a></dd>
        </dl>
    </div>
    <div class="mw-page-container partnership">
        <p class="disclaimer"><a href="https://www.scaleway.com/" title="Créer, déployer et scaler vos applications avec l'écosystème cloud le plus complet d'Europe."><img src="https://common.fedora-fr.org/v6/scaleway-white.svg" height="70" width="147"></a>Fedora-Fr est hébergé <a href="https://www.scaleway.com/fr/open-source-program/" title="Le programme Open Source de Scaleway est un programme de cloud computing limité dans le temps, renouvelable, conçu pour soutenir les projets open source.">gracieusement</a> sur une instance <a href="https://www.scaleway.com/" title="Créer, déployer et scaler vos applications avec l'écosystème cloud le plus complet d'Europe.">Scaleway</a>.</p>
    </div>
    <div class="mw-page-container disclaimer">
        <p class="disclaimer">Le <a href="https://getfedora.org/fr" title="Le projet Fedora">Projet Fedora</a> est maintenu et dirigé par la communauté et sponsorisé par Red Hat.</p>
        <p class="disclaimer">Ce site est également maintenu par la communauté. Red Hat n'est pas responsable de son contenu.</p>
    </div>
</footer>
