<header class="fedora-fr vector-header-container">
    <div class="ffr-page-container mw-header">
        <div id="ffr-logo"><h1><a href="/" class="ffr-home-link"><span>Fedora-Fr</span></a></h1></div>
        <nav>
            <ul>
                <li><a href="https://www.fedora-fr.org/" title="Accueil de Fedora-Fr, la communauté francophone Fedora Linux">Accueil</a></li>
                <li><a href="https://forums.fedora-fr.org/" class="ffr-home-link" title="Forums de Fedora-Fr, la communauté francophone Fedora Linux">Forums</a></li>
                <li><a href="https://doc.fedora-fr.org/" title="Documentation wiki de Fedora-Fr, la communauté francophone Fedora Linux">Documentation</a></li>
                <li><a href="https://planet.fedora-fr.org" title="Planet de blogs autours de Fedora-Fr, la communauté francophone Fedora Linux">Planet</a></li>
                <li><a href="https://www.borsalinux-fr.org/" title="Association Borsalinux-Fr">Association</a></li>
            </ul>
        </nav>
    </div>
</header>
