<div id="brdheader" class="block">
  <div id="brdtitle" class="inbox">
    <h1><a href="/" title="Fedora-Fr - Communauté francophone Fedora - Linux"><span>Fedora-Fr - Communauté francophone Fedora - Linux</span></a></h1>
    <div id="brddesc">Portail de Fedora-Fr : la communauté francophone autour de la distribution Linux Fedora</div>
  </div>
  <form action="https://www.fedora-fr.org/search.php" id="search-form" method="get">
    <p>
      <label for="q">Chercher</label>
      <input id="q" name="q" type="text" maxlength="100" value="" />
    </p>
    <p>
      <label for="search_to">dans</label>
      <select name="search_to" id="search_to">
        <option value="doc" selected="selected">Documentation</option>
        <option value="forums" >Forums</option>
        <option value="planet" >Planet</option>
        <option value="recherche" >Recherche globale</option>
      </select>
    </p>
    <p><input class="submit" type="submit" title="Lancer la recherche dans la zone sélectionnée" value="Chercher" /></p>
  </form>
  <div class="clear"></div>
</div>
<div id="navigation">
  <ul>
    <li><a class="accueil" title="Accueil du site" href="https://www.fedora-fr.org"><span>Accueil</span></a></li>
    <li><a class="forums" title="Forums de discussion" href="https://forums.fedora-fr.org"><span>Forums</span></a></li>
    <li><a class="doc current" title="Documentation francophone" href="https://doc.fedora-fr.org"><span>Documentation</span></a></li>
    <li><a class="planet" title="Planet" href="https://planet.fedora-fr.org"><span>Planet</span></a></li>
    <li><a class="asso" title="Association Borsalinux-fr" href="https://www.borsalinux-fr.org"><span>Association</span></a></li>
    <li><a class="boutik" title="Boutique" href="https://shop.spreadshirt.fr/fedora-fr"><span>Boutique</span></a></li>
  </ul>
</div>
