{{!
	@typedef object emphasized-sidebar-action
	@prop string href
	@prop string text

	string html-logo-attributes for site logo. Must be used inside tag e.g. `class="logo" lang="en-gb"`
	MenuDefinition data-portlets-first
	MenuDefinition[] array-portlets-rest
	emphasized-sidebar-action data-emphasized-sidebar-action For displaying an emphasized action in the sidebar.
}}

<div id="aside" class="noprint pun">
  <div class="block">
		{{#data-portlets-first}}{{>Menu}}{{/data-portlets-first}}
		{{#array-portlets-rest}}{{>Menu}}{{/array-portlets-rest}}
		{{#data-portlets.data-languages}}{{>Menu}}{{/data-portlets.data-languages}}
		{{#data-portlets}}{{#data-personal}}{{>Menu}}{{/data-personal}}{{/data-portlets}}
	</div>
</div>
